.addEllipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
}

.root {
  margin-top: 20px;
  width: 100%;
}
.tableRoot {
  min-width: 700px;
}

.outerTableContainer {
  width: 1200px;
}
@media (min-width: 600px) and (max-width: 900px) {
  .outerTableContainer {
    width: 600px;
  }
  .tableRoot {
    min-width: 600px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .outerTableContainer {
    width: 365px;
  }
  .tableRoot {
    min-width: 365px;
  }
}
