.categorytext {
  list-style: none;
  padding: 0 10px 25px 10px;
  text-transform: lowercase;
  color: #006bb4;
  &:hover {
    text-decoration: underline;
  }
}
.filters-list {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 900px) {
  .filters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
