.dashboardContainer {
  width: 100%;
  flex-grow: 1;
  margin-left: 180px;
  margin-top: 100px;
  border: "10px solid #ffffff";
  border-radius: 8px;
  box-shadow: "5px 12px 15px rgba(0, 0, 0, 0.3)";
}

.resetBtn {
  position: absolute;
  // top: 22.5%;
  width: 15%;
  right: 9%;
}

@media (min-width: 600px) and (max-width: 900px) {
  .dashboardContainer {
    min-width: 600px;
    padding-left: 220px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .dashboardContainer {
    width: 405px;
    margin: 100px auto;
    padding-left: 30px;
  }
  .title {
    font-size: 24px !important;
  }
  .gridItem {
    display: flex;
    flex-direction: column;
  }
  .resetBtn {
    position: absolute;
    top: 107px;
    width: 15%;
  }
  .chipContainer {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .dashboardContainer {
    margin-left: 100px;
  }
  .resetBtn {
    width: 10%;
  }
}
