.dashboardContainer {
  width: 100%;
  flex-grow: 1;
  margin-left: 180px;
  margin-top: 100px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .dashboardContainer {
    min-width: 600px;
    padding-left: 220px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .dashboardContainer {
    width: 405px;
    margin: 100px auto;
  }
}
@media (min-width: 1200px) {
  .dashboardContainer {
    margin-left: 100px;
  }
}
