@import url(https://fonts.googleapis.com/css?family=Roboto:300);
$color_1: red;
$font-family_1: "Roboto", sans-serif;
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: white;
}
.links {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

span {
  font-family: $font-family_1;
  font-size: 14px;
  color: $color_1;
  padding: 5px 0px 10px 16px;
}
