@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: white;
}
.links {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.linkSidebar {
  display: flex;
  padding: 15px 25px;
  gap: 35px;
  transition: all 0.5s;
  text-decoration: none;
}
.linkSidebar:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
// .active {
//   background: lightskyblue;
//   color: #000;
// }
.icon,
.link_text {
  font-size: 20px;
}

.CardRoot {
  max-width: 500px;
  max-height: 500px;
}

@media (min-width: 0px) and (max-width: 600px) {
  .CardRoot {
    max-width: 400px !important;
  }
}
